body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
}


h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.comfort {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

img { 
    height: 500px;
    max-width: 500px;
    width: 100%;

    border-radius: 50px;

}

.ingredients {
    font-family: 'Courier New', Courier, monospace;
}

.recipes-list {
    padding-top: 25px;
    display: table; 
    margin: 0 auto;
    text-align: left;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    display: table; 
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

ol {
    display: table; 
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;   
}

.return-link {
    font-size: 24px;
}